# work around for using aliases
# -----------------------------
# direnv doesn't support aliases directly
# but if we write our aliases as executable scripts
# we can add the aliases folder to our PATH
# such that all of the scripts become executable
PATH_add aliases

ROOT=$(pwd)
export BITCOIN_DATADIR=$ROOT/.bitcoin
export BITCOIN_BIN=$ROOT/bin
